<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.rpr_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".ProfesoriList"></activity>
        <activity android:name=".Profil_Utilizator" />
        <activity android:name=".Info" />
        <activity android:name=".Login_State" />
        <activity android:name=".Contact" />
        <activity android:name=".Pagina_Adauga_Recenzie" />
        <activity android:name=".ProfilProfesor" />
        <activity android:name=".InfoPopup" />
        <activity android:name=".CustomPopup" />
        <activity android:name=".PaginaPrinci" />
        <activity android:name=".RegisterState" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>